* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
.topImage {
    margin: 0;
    padding: 0;
    align-self: center;
    max-width: 100%;
    height: auto;
}
.imageHead {
    position: relative;
}
@media(min-width: 1367px) {
    .topImage{
        max-height: 300px;
        overflow: hidden;
        width: 100%;
    }
}
section {
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Lato", sans-serif;
    font-size: 19px;
    color: #3D4451;
}
h2 {
    font-weight: 400;
}
@media(min-width: 800px) {
    h1 {
        position: absolute;
        top: 30%;
        text-align: center;
        width: 100%;
        color: floralwhite;
        text-shadow: 2px 2px #000000;
        font-weight: 900;
        font-size: 50px;
    }

    .headSmall {
        font-size: 35px;
        color: floralwhite;
        text-shadow: 2px 2px #000000;
        font-weight: 900;
    }
    .headSmallMobile {
        display: none;
    }
    h1 > hr {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
}
@media(max-width: 800px) {
    h1 {
        position: absolute;
        top: 30%;
        text-align: center;
        width: 100%;
        color: floralwhite;
        text-shadow: 2px 2px #000000;
        font-weight: 900;
        font-size: 20px;
    }

    .headSmall {
        display: none;
    }
    .headSmallMobile {
        font-size: 15px;
        color: floralwhite;
        text-shadow: 2px 2px #000000;
        font-weight: 700;
    }

    h1 > hr {
        display: none;
    }
    section {
        font-size: 14px;
    }
}
.link {
    text-decoration: none;
    color: #3D4451;
}
.link:hover {
    font-weight: bold;
}
ul {
    position: absolute;
    margin-bottom: 5px;
    float: right;
}
ul > li {
    position: static;
    padding-top: 5px;
    padding-left: 5px;   
    list-style: none;
    display: inline-block;
}
ul > li > a {
    text-decoration: none;
    padding: 4px 10px;
    color: floralwhite;
    text-shadow: 2px 2px #000000;
    font-size: 16pt;
}
ul > li > a:hover {
    text-shadow: 3px 3px #000000;
}
.thickText {
    font-weight: 900;
    font-size: 30px;
}
.rule {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}