* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
}
.topImage {
    margin: 0;
    padding: 0;
    align-self: center;
    max-width: 100%;
    height: auto;
}
.imageHead {
    position: relative;
}
@media(min-width: 1367px) {
    .topImage{
        max-height: 300px;
        overflow: hidden;
    }
}
@media(min-width: 800px) {
    h1 {
        position: absolute;
        top: 30%;
        text-align: center;
        width: 100%;
        color: floralwhite;
        text-shadow: 2px 2px #000000;
        font-weight: 900;
        font-size: 50px;
    }

    .headSmall {
        font-size: 35px;
        color: floralwhite;
        text-shadow: 2px 2px #000000;
        font-weight: 900;
    }
    .headSmallMobile {
        display: none;
    }
    hr {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }
}
@media(max-width: 800px) {
    h1 {
        position: absolute;
        top: 30%;
        text-align: center;
        width: 100%;
        color: floralwhite;
        text-shadow: 2px 2px #000000;
        font-weight: 900;
        font-size: 20px;
    }

    .headSmall {
        display: none;
    }
    .headSmallMobile {
        font-size: 15px;
        color: floralwhite;
        text-shadow: 2px 2px #000000;
        font-weight: 700;
    }

    hr {
        display: none;
    }
}
section {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    color: #3D4451;
}
h2 {

}
.thickText {
    font-weight: 900;
}